body {
  background-color: grey;
  /*width: 100%;*/
}

/*new nav*/
a {
  text-decoration: none;
  color: white;
}

nav {
  position: fixed;
  width: 100%;
}

nav ul {
  background-color: lightgrey;
  overflow: hidden;
  color: white;
  padding: 0;
  text-align: center;
  margin: 0;
  transition: max-height 0.4s;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  display: inline-block;
  padding: 20px;
  color: #4492DE;
  font-size: 1.1em;
}


nav ul li:hover {
  color: yellow;
  border-radius: 10px;
}

.nav-logo {
  font-weight: bold;
  float: left;
  font-family: "Satisfy", cursive;
  font-size: 2em;
}

.nav-icons {
  padding: 1.5% 5% 1.5% 0;
}

.nav-icons a {
  text-decoration: none;
  color: #4492DE;
  padding: 5px 0px 0px 10px;
}

.nav-icons a:hover {
  color: yellow;
  text-decoration: none;
}

nav ul li:not(.nav-logo) {
  padding-top: 25px;
}

.handle {
  width: 100%;
  background: orange;
  text-align: right;
  padding: 15px 10px;
  cursor: pointer;
  color: #4492DE;
  font-weight: bold;
  display: none;
}

i.fa.fa-bars.fa-2x {
  margin-left: 6%;
}

.burger {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

section {
  line-height: 1.5em;
  font-size: 0.9em;
  padding: 40px;
  width: 75%;
  margin: 0 auto;
}

@media (max-width: 600px) {

  nav ul {
    max-height: 0;
  }

  .showing {
    max-height: 20em;
  }

  nav ul li {
    width: 100%;
    padding: 15px;
  }

  .handle {
    display: block;
    background-color: lightgrey;
    text-align: center;
  }

}

/* Smartphones (portrait and landscape) ———– */
@media only screen 
  and (min-device-width : 320px)
  and (max-device-width : 480px) { 
  
  nav {
      position: fixed !important;
  }


  nav ul {
    max-height: 0;
  }

  .showing {
    max-height: 20em;
  }

  nav ul li {
    width: 100%;
    padding: 15px;
  }

  .handle {
    display: block;
    background-color: lightgrey;
    text-align: center;
  }

  i.fa.fa-bars.fa-2x {
  margin-right: 5%;
  }
}

/* iPads (portrait and landscape) ———– */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  nav ul {
    max-height: 0;
  }

  .showing {
    max-height: 20em;
  }

  nav ul li {
    width: 100%;
    padding: 15px;
  }

  .handle {
    display: block;
    background-color: lightgrey;
    text-align: center;
  }

  i.fa.fa-bars.fa-2x {
    margin-right: 5%;
  }
}


/*nav end*/
/*intro section */

#intro {
  background-color: lightgrey;
  padding: 30px;
  padding-top: 80px;
  height: 100%;
  display: flex;
  align-items: center;
}

#intro h1 {
  max-width: 50%;
  margin-bottom: 30px;
  padding: 0 10% 0 10%;
}

#about {
  display: flex;
  justify-content: center;
  flex-flow: row-reverse;
  background-color: lightgrey;
  padding: 30px;
  padding-top: 80px;
  height: 100%;
}

.intro-text, .profile {
    padding: 0 10% 0 10%;
}

.intro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 5%;
  max-height: 50%;
}

.intro-color {
  color: yellow;
}

.profile {
  border-radius: 50%;
  max-width: 50%;
  max-height: 50%;
}

@media (max-width: 1000px) {
  #about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0;
  }
  
  .intro-text {
    padding-bottom: 5%;
  }
  
  .profile {
    margin: 0 auto;
    max-width: 60%;
  }
}

#portfolio {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  padding: 30px;
  border-top: solid grey 1px;
  background-color: white;
}

.work-header {
  flex: 1 100%;
  padding-bottom: 20px;
}


.work-examples {
  display: flex;
  flex-wrap: wrap;
}

.work {
  padding: 30px;
  flex: 50%;
}

.work img {
  border: 1px solid black;
  padding: 1px;  
}


figcaption {
  display: flex;
  flex-direction: row;
  color: black;
  padding: 10px;
}

.work-description {
  color: #344f4f;
}


@media (max-width: 1000px) {
  #portfolio { 
    display: flex;
    flex-direction: column;
  }

  .work-header {
    flex: 1 15%;
    padding-bottom: 0px;
  }


  img.work {
    height: 85%;
    width: 85%;
    padding: 30px;
  }
}


#contact {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  padding: 30px;
  border-top: solid grey 1px;
  background-color: lightgrey;
}

#contact-header {
  flex: 1 100%;
  padding-bottom: 20px;
}

#contact-form, #contact-aside {
  flex: 1;
}

input {
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid #4492DE;
  margin-bottom: 30px;
  padding: 10px;
  font-size: 2em;
}

input[placeholder], input[value], textarea[placeholder] {
  font-size: 2em;
  color: grey;
}

input[value]:hover {
  color: yellow;
}

textarea {
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid #4492DE;
  font-size: 3em;
  margin-bottom: 30px;
}

#thankyou {
  font-size: 3em;
  color: #4492DE;
  text-align: center;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  #contact {
  display: flex;
  flex-flow: column-wrap;
  text-align: center;
  margin: 0%;
  padding: 0px;
  border-top: solid grey 1px;
}


#contact-header {
  flex-grow: 1;
  padding-bottom: 20px;
}

#contact-aside {
  flex-grow: 1;
}

.flex {
  display: flex;
  flex-flow: column-reverse;
  }

}

#social {
  display: flex;
  background-color: blue;
  padding: 100px 0 100px 0;
  text-align: center;
  color: lightgrey;
}

#about-area, #get-in-touch {
  flex: 1;
  padding: 2%;
}

footer {
  display: flex 1;
  padding: 30px 0 30px 0;
  text-align: center;
  font-size: 1.3em;
  background-color: lightgrey;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icons li {
  margin-right: 7%;
  list-style-type: none;
}

.icons a {
  text-decoration: none;
  color: white;
}

.icons a:hover {
  color: #eeee00;
  text-decoration: none;
}

@media (max-width: 1000px) {
  #social {
    margin: 0%;
    padding: 0px;
  }
}